body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 16px;
}

p {
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

h1 {
  color: #062a66;
  margin-bottom: 0px;
}

h3 {
  margin-left: 10px;
  margin-top: 3px;
  color: #d9d9d9;
}

.header {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.icon {
  width: 45px;
  margin: 2px;
}


.selection-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 420px;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.selection {
  height: 190px;
  margin-bottom: 20px;
  display: flex;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  color: #062a66;
  background-color: #f4f7fc;
}

.selection:hover {
  color: #f4f7fc;
  background-color: #062a66;
}

.selection-hover {
  color: #f4f7fc;
  background-color: #062a66;
}

.-bk1 {
  width: 190px;
  margin-right: 20px;
  box-shadow: 2px 2px 1px #dcdfe5;
}

.-bk2 {
  width: 570px;
  box-shadow: 2px 2px 1px #dcdfe5;
}

.-bk3 {
  width: 570px;
  margin-right: 20px;
  box-shadow: 2px 2px 1px #dcdfe5;
}

.-bk4 {
  width: 190px;
  box-shadow: 2px 2px 1px #dcdfe5;
}

.sub-head {

}

.resume-body {
  width: 60%;
  float: left;
}

.resume-side {
  width: 40%;
  float: right;
}

.skills {
  margin: 5px;
}

.bubble {
  border: 1px solid #ff6699;
  padding: 3px;
  margin: 1px;
  border-radius: 25px;
}

.bubble-case {
  width: 300px;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.resume-container {
  width:100%;
  float: left;
}

.profile-pic {
  display: inline;
  width: 40%;
  margin: 10px;
  float: left;
  clear: left;
}

.bio {
  font-size: 16px;
  margin: 25px;
  width: 50%;
  float: right;
  clear: right;
}

.contact-container {
  margin: 10px;
  margin-bottom: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-icons {

}